# Copyright (c) 2025 Good Night, Good Morning and contributors (see Contributors.md)
# Licensed under the MIT License. See the LICENSE file in the project root for details.

# Default
.DS_Store
compiled/
/doc/
*~
*.bak
\#*
.\#*

# IDE
.idea/
.vs/

# Editor
.vscode/*
!.vscode/tasks.json

# Executable
*.out

# Compiled
build/

# Test Outputs
*.actual

# Files
*.swp

# Perf
perf.data.old
perf.data
